/*#739086
#87281b rojo oscuro
 #d3624b naranja
#ac918f  gris rosita


*/




body{
   background-color:white;
   font-family: geneva ;
    font-size:100%;
    align-items:center;
    color:#4c4543;

  } 



.barrainicio{
  position:fixed;
  top:0px;left:0px;
  background-color:#d3624b;
 
  height:10vh;width:100%;
    z-index:3;
    
    display:flex;
    align-items:center;
    justify-content:space-around;

}
.barrainicio ul{
   display: flex;
   text-transform:uppercase;
   list-style-type: none;   
}
.barrainicio ul li{
    text-align:center;
    margin-left:30px;
    padding:10px 20px;
    font-size:0.9rem;
}
.barrainicio img {
    padding: none;
    width:80px;
    height: 50px;

}
.barrainicio a{
    text-decoration:none;
    color:white;
}
.barrainicio a:hover{
    text-decoration:none;
    color: #b9adb2;
}
.barrainicio a:active {
  color: #E3E4E0;
}



button{
    background-color:#87281b;
    color:white;
    width:130px;
    height:50px;
    text-transform:uppercase;
    border-radius: 10px;
}
button:hover{
    background-color:white;
    color:#67727E;
}





.titulo{
    background-color:#ac918f;
    color:white;
    height:200px;
    text-align:center;
    margin:100px 0 20px 0;
    padding:50px;
    
    font-size:20px;
}






















